@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
	<main>
		<div class="form-container">
			<div class="form-header">
				<div class="logo">
					<i class="fa-solid fa-broom"></i>
					<span>OfficeClean</span>
				</div>
				<AuthorizeView Roles="Admin">
					<Authorized>
						<div class="header-buttons">
							<a href="/admin/requests" class="header-btn light">
								<i class="fa fa-list-alt" aria-hidden="true"></i>
								Все заявки
							</a>
							<a href="/logout" class="header-btn dark">
								<i class="fa fa-user-circle" aria-hidden="true"></i>
								Выйти
							</a>
						</div>
					</Authorized>
				</AuthorizeView>

				<AuthorizeView Roles="User">
					<Authorized>
						<div class="header-buttons">
							<a href="/new-request" class="header-btn light">
								<i class="fa-solid fa-plus" aria-hidden="true"></i>
								Новая заявка
							</a>
							<a href="/" class="header-btn light">
								<i class="fa fa-list-alt" aria-hidden="true"></i>
								Мои заявки
							</a>
							<a href="/logout" class="header-btn dark">
								<i class="fa fa-user-circle" aria-hidden="true"></i>
								Выйти
							</a>
						</div>
					</Authorized>
				</AuthorizeView>
			</div>
			@Body
		</div>
	</main>

</div>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>