@page "/my-requests"

@attribute [Authorize(Roles = "User")]
<PageTitle>Мои заявки</PageTitle>
<div class="form-title">
	<h1>МОИ ЗАЯВКИ</h1>
</div>
<article class="content px-4">

</article>


@code {

}
